<h3>CPU usage for selected devices</h3>
<br />
<label>Start Date </label>
<input datetime-picker ng-model="data.sdate.value" date-format="yyyy-MM-dd HH:mm" />
&nbsp;
<label>End Date </label>
<input datetime-picker ng-model="data.edate.value" max="endDate.max" date-format="yyyy-MM-dd HH:mm" />
&nbsp;
<label>Multiple Devices </label>
<button type="button" class="btn btn-default" ng-model="data.selectedip" data-html="1" data-multiple="1"
        data-animation="am-flip-x" bs-options="y for y in data.ipads" bs-select height="auto">
  Action <span class="caret"></span>
</button>
<label>Metric Type </label>
<select ng-model="data.selectedType" ng-options="x for x in data.metricTypes">
</select>
<br /><br /><br />
<div>
  <div id="circularG" ng-show="loader">
    <div id="circularG_1" class="circularG"></div>
    <div id="circularG_2" class="circularG"></div>
    <div id="circularG_3" class="circularG"></div>
    <div id="circularG_4" class="circularG"></div>
    <div id="circularG_5" class="circularG"></div>
    <div id="circularG_6" class="circularG"></div>
    <div id="circularG_7" class="circularG"></div>
    <div id="circularG_8" class="circularG"></div>
  </div>
  <am-chart id="myFirstChart" ng-hide="loader" options="amChartOptions" height="400px" width="auto"></am-chart>
</div>
