<h2>Welcome to BTH Server Monitoring system</h2>
<div id="header-wrapper">
  <p> This application provides the statistics of a particular server such as CPU Usage, Memory Usage, Network Input Usage and Network Output
        Usage. It also shows the details of the devices in a tabular format and also it visualizes the metric details.  </p>
</div>
